.modalPage {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal {
    height: fit-content;
    background-color: var(--clr-whiteTo111);
    border: 1px solid var(--clr-lightgrayTo333);
    border-radius: 8px;
    padding: 1rem;
    gap: 2rem;
}
.modal__inputs {
    gap: 0.5rem;
}
.modal__buttons {
    margin-top: 1rem;
    gap: 0.5rem;
}
.modal__email {
    gap: 0.5rem;
}
.modal__email .inp {
    width: 100%;
}

.home {
    gap: 0.5rem;
}
.contacts {
    gap: 0.5rem;
}
.contacts__contacts {
    gap: 1rem;
    flex-wrap: wrap;
}
.contacts__pagination {
    gap: 0.5rem;
}
.contact {
    width: 18rem;
    gap: 0.35rem;
}
.contact__title {
    text-align: center;
    font-weight: 600;
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--clr-applegrayTo333);
}
.header__left {
    gap: 1rem;
}

@media screen and (max-width: 800px) {
    .modal__email {
        flex-direction: column;
    }
    .contacts__contacts {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}